	<!-- ****** Footer Area Start ****** -->
  <footer class="footer_area">
    <div class="container" style="z-index: 0 !important;">
        <div class="row">
            <!-- Single Footer Area Start -->
            <div class="col-12 col-md-6 col-lg-3">
                <div class="single_footer_area">
                    <div class="footer-logo col-6">
                        <img [src]="logo" alt="">
                    </div>

                </div>
            </div>
            <!-- Single Footer Area Start -->
            <div class="col-12 col-sm-6 col-md-3 col-lg-9">
                <div class="single_footer_area">
                    <ul class="footer_widget_menu">
                        <li><a href="javascript:void(0)">A propos de nous</a></li>
                        <li><a href="javascript:void(0)">Mon compte</a></li>
                        <li><a href="javascript:void(0)">Nos politiques</a></li>
                        <!-- <li><a href="javascript:void(0)">Blog</a></li> -->
                        <!-- <li><a href="javascript:void(0)">Faq</a></li> -->
                        <!-- <li><a href="javascript:void(0)">Returns</a></li> -->
                        <!-- <li><a href="#">Shipping</a></li> -->
                        <!-- <li><a href="#">Afiliates</a></li> -->
                        <li><a href="javascript:void(0)">Contacts</a></li>
                    </ul>
                </div>
            </div>
            <!-- Single Footer Area Start -->
            <!-- <div class="col-12 col-sm-6 col-md-3 col-lg-2">
                <div class="single_footer_area">
                    <ul class="footer_widget_menu">
                    </ul>
                </div>
            </div> -->
            <!-- Single Footer Area Start -->
            <!-- <div class="col-12 col-lg-5">
                <div class="single_footer_area">
                    <div class="footer_heading mb-30">
                        <h6>Abonnez-vous à notre newsletter</h6>
                    </div>
                    <div class="subscribtion_form">
                        <form action="#" method="post">
                            <input type="email" name="mail" class="mail" placeholder="Votre email ici">
                            <button type="submit" class="submit">S'abonner</button>
                        </form>
                    </div>
                </div>
            </div> -->
        </div>
        <div class="line"></div>

        <!-- Footer Bottom Area Start -->
        <div class="footer_bottom_area">
            <div class="row">
                <div class="col-12">
                    <div class="footer_social_area text-center">
                        <a href="javascript:void(0)"><i class="fa fa-pinterest" aria-hidden="true"></i></a>
                        <a href="javascript:void(0)"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                        <a href="javascript:void(0)"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                        <a href="javascript:void(0)"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                        <a href="javascript:void(0)"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                    </div>
                    <div class="copywrite_text d-flex align-items-center">
                      <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        <!-- Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | Made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a> &amp; distributed by <a href="https://themewagon.com" target="_blank">ThemeWagon</a> -->
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
                  </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- ****** Footer Area End ****** -->




