.qty {
  /* background-color: #dee2e6; */
  background-color: #495057;
  border-radius: 50%;
  color: #fff;
  font-size: 11px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  top: 5px;
  width: 20px;

}
.list-group-item{
  border-bottom: 2px solid rgb(112, 112, 112);
  background-color: #f8f9fa;
}

.cart-summary{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
